mediapipe==0.10.5
opencv-python==4.10.0.84
numpy==1.26.4
scikit-learn==1.5.1
joblib==1.4.2
pillow==10.4.0

SpeechRecognition==3.10.4
PyAudio==0.2.14
pyttsx3==2.99
gTTS==2.5.3
sounddevice==0.5.3

deep-translator==1.11.4
googletrans==4.0.2

groq
requests==2.32.5
python-dotenv==1.2.1

tensorflow==2.16.1
keras==3.12.0